
header{
	text-align: center;
	font-family: Algerian;
	color: yellow;
	background: center;
	background-color: green;
}

h0{
	font-size: 30px;
	font-family: Algerian;
}

article{
	text-align: center;
	font-family: Algerian;
	color: blue;
	background: center;
	background-color: yellow;
}